@model GFR.Models.Ward

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit Ward</h3>
<div>
    <a href="@Url.Action("Index", "Wards")" title="Back to List"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.WardID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.CreateDate)

        <!--
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        -->

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Suffix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Suffix, new SelectList(
                  new List<Object>{
                       new { value = "", text = ""  },
                       new { value = "Jr." , text = "Jr." },
                       new { value = "Sr." , text = "Sr."}
                    },
                  "value",
                  "text"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Gender, new SelectList(
                  new List<Object>{
                      new { value = "" , text = ""},
                       new { value = "M" , text = "Male" },
                       new { value = "F" , text = "Female"}
                    },
                  "value",
                  "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeriodStartMonth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PeriodStartMonth, new SelectList(
                  new List<Object>{
                      new { value = 1 , text = "Jan"},
                       new { value = 2 , text = "Feb" },
                       new { value = 3 , text = "Mar" },
                       new { value = 4 , text = "Apr" },
                       new { value = 5 , text = "May" },
                       new { value = 6 , text = "Jun" },
                       new { value = 7 , text = "Jul" },
                       new { value = 8 , text = "Aug" },
                       new { value = 9 , text = "Sep" },
                       new { value = 10 , text = "Oct" },
                       new { value = 11 , text = "Nov" },
                       new { value = 12 , text = "Dec"}
                    },
                  "value",
                  "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeriodStartMonth, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PeriodDuration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PeriodDuration, new SelectList(
                  new List<Object>{
                      new { value = 12 , text = "1 Year"},
                       new { value = 24 , text = "2 Year" },
                       new { value = 36 , text = "3 Year"}
                    },
                  "value",
                  "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeriodDuration, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
